<div
  class="bg-black flex flex-col gap-16 justify-center align-middle items-center py-12"
>
  <div class="w-[90%] flex flex-col items-center gap-4">
    <div class="text-white font-bold text-2xl">
      No long-term contracts. No catches. Simple.
    </div>
    <p class="text-gray-400 text-lg">
      Start your 30-day free trial. Cancel anytime.
    </p>
    <div class="flex gap-4">
      <button
        class="border border-gray-200 py-1.5 px-7 rounded-lg text-lg font-medium bg-gray-200 flex items-center gap-2"
        ><img src="/play-circle.png" />View Demo</button
      >
      <button
        class="border border-[#7F56D9] py-1.5 px-7 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
        >Get Started</button
      >
    </div>
  </div>
  <div class="h-[0.5px] bg-gray-800 w-[90%]"></div>
  <div class="w-[90%] flex justify-between gap-4">
    <div class="flex flex-col gap-6">
      <div class="flex items-center gap-2">
        <img src="/public/logoMark.png" />
        <div class="text-xl text-white font-bold">Untitled UI</div>
      </div>
      <p class="text-gray-400">
        Design amazing digital experiences that <br /> create more happy in the world.
      </p>
      <div>
        <ul class="text-gray-400 font-medium flex gap-6">
          <li>Overview</li>
          <li>Features</li>
          <li>Pricing</li>
          <li>Careers</li>
          <li>Help</li>
          <li>Privacy</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col text-white">
      <div>Get the app</div>
      <button
        class="border border-gray-200 py-1.5 pr-5 pl-2 rounded-lg text-lg font-medium text-white flex items-center gap-3"
        ><img src="/apple.svg" /><div class="flex flex-col items-start">
          <span class="text-xs">Download on the</span>App Store
        </div></button
      >
      <button
        <button
        class="border border-gray-200 py-1.5 pr-5 pl-2 rounded-lg text-lg font-medium text-white flex items-center gap-3"
        ><img src="/play-store.svg" class="h-8 w-8" /><div
          class="flex flex-col items-start"
        >
          <span class="text-xs">Get it on</span>Google Play
        </div></button
      >
    </div>
  </div>
  <div class="h-[0.5px] bg-gray-800 w-[90%]"></div>
  <div class="w-[90%] flex items-center justify-between">
    <div class="text-gray-400 text-lg">
      © 2077 Untitled UI. All rights reserved.
    </div>

    <div class="flex gap-4">
      <a
        href="https://twitter.com/yourprofile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/twitter.svg" alt="twitter" class="w-8 h-8" />
      </a>
      <a
        href="https://twitter.com/yourprofile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/linkedin.svg" alt="twitter" class="w-8 h-8" />
      </a><a
        href="https://twitter.com/yourprofile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/facebook.svg" alt="twitter" class="w-8 h-8" />
      </a><a
        href="https://twitter.com/yourprofile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/github.svg" alt="twitter" class="w-8 h-8" />
      </a><a
        href="https://twitter.com/yourprofile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/dribble.svg" alt="twitter" class="w-8 h-8" />
      </a>
    </div>
  </div>
</div>
