<header class="w-[100%] flex justify-center">
  <div class="py-8 w-[85%] flex justify-between">
    <div class="flex items-center gap-12">
      <div class="flex items-center gap-2">
        <img src="/public/logoMark.png" />
        <div class="text-xl font-bold">Untitled UI</div>
      </div>
      <nav>
        <ul class="flex gap-8 text-lg">
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <button
        class="border border-gray-300 py-2 px-5 rounded-lg text-lg font-medium bg-transparent hover:bg-gray-300 transition transform-fill"
        >Log in</button
      >
      <button
        class="border border-[#7F56D9] py-2 px-5 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
        >Sign up</button
      >
    </div>
  </div>
</header>
