<section class="w-[100%] flex justify-center">
  <div class="py-8 w-[85%] flex md:flex-row flex-col gap-4 justify-between">
    <div class="md:w-1/2 flex flex-col gap-4 justify-center">
      <div
        class="border-[1.5px] border-[#D5D7DA] p-0.5 w-75 rounded-lg flex items-center gap-4 text-[#414651]"
      >
        <span
          class="border-[1.5px] border-[#D5D7DA] w-20 h-8 rounded-lg flex items-center justify-center"
          ><img src="./Dot.png" class="h-4 w-4" />New!</span
        >
        Download the iOS app <img src="./arrow.png" />
      </div>
      <div class="text-7xl font-bold text-[#181D27]">
        Smart business credit cards
      </div>
      <p class="text-xl w-[80%] text-[#535862]">
        Untitled is a next-gen financial technology company in the process of
        reinventing banking.
      </p>
      <div class="flex gap-4">
        <button
          class="border-[1.5px] border-gray-200 py-1.5 px-7 rounded-lg text-lg font-medium flex items-center gap-2"
          ><img src="/play-circle.png" />Demo</button
        >
        <button
          class="border border-[#7F56D9] py-1.5 px-7 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
          >Sign up</button
        >
      </div>
    </div>

    <div class="md:w-1/2 flex items-center justify-center">
      <img src="./Content.png" />
    </div>
  </div>
</section>
