---
const reviews = [
  {
    name: "Alisa Hester",
    position: "PM, Hourglass",
    company: "Web Design Agency",
    image: "/public/sarah.jpeg",
    rating: 4,
  },
  {
    name: "Rich Wilson",
    position: "COO, Command+R",
    company: "Web Development Agency",
    image: "/public/danes.jpeg",
    rating: 4,
    review: "We’ve really sped up our workflow using Untitled.",
  },
  {
    name: "Annie Stanley",
    position: "Designer, Catalog",
    company: "UX Agency",
    image: "/public/alina.jpeg",
    rating: 4,
  },
  {
    name: "Johnny Bell",
    position: "PM, Sisyphus",
    company: "Machine Learning",
    image: "/public/jonas.jpeg",
    rating: 4,
  },
];
---

<section class="w-[100%] flex justify-center">
  <div
    class="py-24 w-[85%] flex flex-col items-center justify-between gap-8 border-b border-[#E9EAEB]"
  >
    <div class="flex items-center justify-between w-full">
      <div class="text-2xl font-bold">Don’t just take our word for it</div>
      <div>
        <div class="flex gap-4">
          <button
            class="border-[1.5px] border-gray-200 py-1.5 px-7 rounded-lg text-lg font-medium"
            >Our Customers</button
          >
          <button
            class="border border-[#7F56D9] py-1.5 px-7 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
            >Create Account</button
          >
        </div>
      </div>
    </div>
    <p class="text-start w-full text-[#535862]">
      Hear from some of our amazing customers who are automating their finances.
    </p>
    <div class="flex gap-10">
      {
        reviews.map((review) => (
          <div class="relative">
            <img src={review.image} class="h-104 w-full object-cover" />
            <div class="absolute bottom-3 left-3 w-[90%] h-auto border border-gray-300 flex flex-col gap-2 text-white bg-[#5b59594d] backdrop-blur-sm rounded-xl shadow-2xl p-3">
              <div class="flex gap-1">
                {[...Array(5)].map((_, index) => (
                  <span
                    class={`text-xl ${index < review.rating ? "text-yellow-400" : "text-gray-400"}`}
                  >
                    ★
                  </span>
                ))}
              </div>
              <div class="text-lg font-semibold">{review.name}</div>
              <div>
                <div>{review.position}</div>
                <div>{review.company}</div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
