<section class="w-[100%] flex justify-center">
  <div
    class="py-24 w-[85%] flex flex-col items-center justify-between gap-8 border-b border-[#E9EAEB]"
  >
    <div class="flex items-center justify-between w-full">
      <div class="text-2xl font-bold">Don’t just take our word for it</div>
      <div>
        <div class="flex gap-4">
          <button
            class="border-[1.5px] border-gray-200 py-1.5 px-7 rounded-lg text-lg font-medium"
            >Our Customers</button
          >
          <button
            class="border border-[#7F56D9] py-1.5 px-7 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
            >Create Account</button
          >
        </div>
      </div>
    </div>
    <p class="text-start w-full text-[#535862]">
      Hear from some of our amazing customers who are automating their finances.
    </p>
    <div class="flex gap-10">
      <div class="relative">
        <img src="/public/sarah.jpeg" class="h-104 w-full object-cover" />
        <div
          class="absolute bottom-3 left-3 w-[90%] h-auto border border-gray-300 flex flex-col gap-2 text-white bg-[#5b59594d] backdrop-blur-sm rounded-xl shadow-2xl p-3"
        >
          <div class="flex gap-1">
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-gray-400 text-xl">★</span>
            <!-- Unfilled star -->
          </div>
          <div class="text-lg font-semibold">Alisa Hester</div>
          <div>
            <div>PM, Hourglass</div>
            <div>Web Design Agency</div>
          </div>
        </div>
      </div>
      <div class="relative">
        <img src="/public/danes.jpeg" class="h-104 w-full object-cover" />
        <div
          class="absolute bottom-3 left-3 w-[90%] h-auto border border-gray-300 flex flex-col gap-2 text-white bg-[#5b59594d] backdrop-blur-sm rounded-xl shadow-2xl p-3"
        >
          <div>“We’ve really sped up our workflow using Untitled.”</div>
          <div class="flex gap-1">
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-gray-400 text-xl">★</span>
            <!-- Unfilled star -->
          </div>
          <div class="text-lg font-semibold">Rich Wilson</div>
          <div>
            <div>COO, Command+R</div>
            <div>Web Development Agency</div>
          </div>
        </div>
      </div>
      <div class="relative">
        <img src="/public/alina.jpeg" class="h-104 w-full object-cover" />
        <div
          class="absolute bottom-3 left-3 w-[90%] h-auto border border-gray-300 flex flex-col gap-2 text-white bg-[#5b59594d] backdrop-blur-sm rounded-xl shadow-2xl p-3"
        >
          <div class="flex gap-1">
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-gray-400 text-xl">★</span>
            <!-- Unfilled star -->
          </div>
          <div class="text-lg font-semibold">Annie Stanley</div>
          <div>
            <div>Designer, Catalog</div>
            <div>UX Agency</div>
          </div>
        </div>
      </div>
      <div class="relative">
        <img src="/public/jonas.jpeg" class="h-104 w-full object-cover" />
        <div
          class="absolute bottom-3 left-3 w-[90%] h-auto border border-gray-300 flex flex-col gap-2 text-white bg-[#5b59594d] backdrop-blur-sm rounded-xl shadow-2xl p-3"
        >
          <div class="flex gap-1">
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-yellow-400 text-xl">★</span>
            <span class="text-gray-400 text-xl">★</span>
          </div>
          <div class="text-lg font-semibold">Johnny Bell</div>
          <div>
            <div>PM, Sisyphus</div>
            <div>Machine Learning</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
