<section id="service" class="flex justify-end my-8">
  <div class="w-[90%] flex md:flex-row flex-col gap-8">
    <div class="lg:w-1/2 flex flex-col gap-10 lg:justify-center">
      <div class="lg:text-5xl md:text-4xl text-3xl font-bold text-[#181D27]">
        Get started in 5 minutes
      </div>
      <div class="mt-6 ml-6 flex flex-col gap-5 text-lg">
        <div class="flex gap-2 items-center text-[#535862]">
          <img src="./check-icon.png" />
          <div>30-day free trial</div>
        </div>
        <div class="flex gap-2 items-center text-[#535862]">
          <img src="./check-icon.png" />
          <div>Peronalized onboarding</div>
        </div>
        <div class="flex gap-2 items-center text-[#535862]">
          <img src="./check-icon.png" />
          <div>Access to all features</div>
        </div>
      </div>
      <div class="flex md:flex-row flex-col md:w-[100%] w-[90%] gap-4">
        <button
          class="border-[1.5px] border-gray-200 py-1.5 px-7 rounded-lg text-lg font-medium"
          >Learn More</button
        >
        <button
          class="border border-[#7F56D9] py-1.5 px-7 rounded-lg text-lg font-medium bg-[#7F56D9] text-white hover:bg-transparent hover:text-[#7F56D9] transition transform-fill"
          >Get Started</button
        >
      </div>
    </div>
    <div class="w-1/2 md:!flex hidden">
      <img src="./dashboard-screen.png" />
    </div>
    <div class="md:!hidden flex w-[100%] justify-center">
      <img src="./Inner-shadow.png" />
    </div>
  </div>
</section>
