<section id="trustedCompanies" class="w-[100%] flex justify-center mt-8">
  <div
    class="w-[85%] flex flex-col items-center justify-between gap-16 py-24 bg-[#FAFAFA]"
  >
    <div class="flex flex-col gap-3 justify-center items-center">
      <div class="text-lg font-medium text-[#535862]">
        Trusted by 4,000+ companies
      </div>
      <div
        class="xl:flex grid grid-cols-1 sm:grid-cols-3 xl:gap-8 gap-6 items-center"
      >
        <img src="./catalog.png" />
        <img src="./pictel.png" />
        <img src="./leapyear.png" />
        <img src="./peregrin.png" />
        <img src="./easytax.png" />
        <img src="./CoreOs.png" />
      </div>
    </div>
  </div>
</section>
